.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay pre {
    position: relative;
    top: -70px;
    background-color: black;
    padding: 25px;
    border-radius: 15px;
}